* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 20px;
}
 .top-header {
   background-color: #0f3365;
   display: flex;
   color: white;
 }
 #byu_logo {
   width: 150px;
   height: auto;
 }
 .top-header-box-2 {
   margin: 20px;
 }
.navbar {
  margin-top: 0;
  background-color: #041b47 !important;
}
.nav-link {
  color: white !important;
}
