* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 20px;
}
.nada {
  margin-top: 50px;
}
 .top-header {
   background-color: #0f3365;
   display: flex;
   color: white;
 }
 #byu_logo {
   width: 150px;
   height: auto;
 }
 .top-header-box-2 {
   margin: 20px;
 }
.navbar {
  margin-top: 0;
  background-color: #041b47 !important;
}
.nav-link {
  color: white !important;
}
.space-roper-right {
  background-color: #F2F2F3;
  color: #F2F2F3;
  width: 20%;
  float: right;
  height: 100%;
}
.space-roper-left {
  background-color: #F2F2F3;
  color: #F2F2F3;
  width: 20%;
  float: left;
  height: 100%;
}
#proper-image {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.roper-container {
  display: flex;
  /* background-color: #808080;*/
}
.home-contents-roper {
  display: flex;
  margin: 25px;
  margin-top: 60px;
  width: 100%;
  justify-content: center;
  /*background-color: #FFFFFF;*/
}
.roper-contact-info {
  padding-left: 50px;
  vertical-align: middle;
}
.home-class-sections {
  display: flex;
  text-align: center;
}
.class-sections {
  text-align: center;
  width: 100%;
}
