* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header h3 {
  font-size: 20px;
}
.nada {
  margin-top: 50px;
}
.top-header {
  background-color: #0f3365;
  color: white;
}
#byu_logo {
  width: 150px;
  height: auto;
}
.top-header-box-2 {
  margin: 20px;
}
.navbar {
margin-top: 0;
background-color: #041b47 !important;
}
.nav-link {
color: white !important;
}
.footer {
/* margin-top: 50px; */
width: 100%;
background-color: #041b47;
color: #FFFFFF;
}

@media only screen and (min-width: 1201px) {
  .space-right {
    background-color: #F2F2F3;
    color: #F2F2F3;
    width: 20%;
    float: right;
    height: 80%;
  }
  .space-left {
    background-color: #F2F2F3;
    color: #F2F2F3;
    width: 20%;
    float: left;
    height: 80%;
  }

  .top-header {
    display: flex;
  }
  .footer {
    height: 50px;
  }
  .footer-text-desktop {
    padding-top: 10px;
    margin-left: 50px;
    text-align: center;
    height: 20%;
  }

  .footer-text-mobile {
    display: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .navbar-toggler {
    -webkit-filter: brightness(0) invert(1);
     filter: brightness(0) invert(1);
  }

  .top-header {
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
  }
  .footer {
    padding-top: 10px;
    height: 150px;
    vertical-align: middle;
  }
  .footer-text-desktop {
    display: none;
  }
  .footer-text-mobile {
    text-align: center;
  }
}
